@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {font-family: 'Noto Sans KR';font-weight: 100;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-weight: 200;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-weight: 300;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-weight: 400;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-weight: 500;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-weight: 600;font-style: normal;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body {
	font-family: "Noto Sans KR", sans-serif !important;
	font-size: 16px;
	width: 1800px;
	height: 900px;
	margin: 0 auto !important;
	background-color: #fff;
	overflow: hidden;
}
body * {
	white-space: -moz-pre-wrap;
   	white-space: -pre-wrap;
   	white-space: -o-pre-wrap;
   	word-wrap: break-word;
   	word-break: keep-all;
}
.ftw600 {
	font-weight: 600 !important;
}
.ftw500 {
	font-weight: 500 !important;
}
.ftw400 {
	font-weight: 400 !important;
}
.ftw300 {
	font-weight: 300 !important;
}
.ftw200 {
	font-weight: 200 !important;
}
.ftw100 {
	font-weight: 100 !important;
}
.textalignC {
	text-align: center !important;
}
.textalignL {
	text-align: left !important;
}
.textalignR {
	text-align: right !important;
}
.veralignT {
	vertical-align: top;
}
.veralignM {
	vertical-align: middle;
}
.mgauto {
	margin: 0 auto;
}
.mgt0 {
	margin-top: 0 !important;
}
.mgl0 {
	margin-left: 0 !important;
}
.mgr0 {
	margin-right: 0 !important;
}
.mgb0 {
	margin-bottom: 0 !important;
}
.wdt100 {
	width: 100%;
}
.hgt100 {
	height: 100%;
}
.floatR {
	float: right;
}
.floatL {
	float: left;
}
.floatN {
	float: none;
}
.floatC {
	clear: both;
}
.cursorP {
	cursor: pointer !important;
}
.colorWhite {
	color: #fff;
}
.colorBlack {
	color: #000 !important;
}
.positionFixed {
	position: fixed;
}
.dpNone {
	display: none !important;
}
.dpBlock {
	display: block;
}
.visibility {
	visibility: visible;
}
.nvisibility {
	visibility: hidden;
}
.addBtn {
	width: 40px;
	height: 40px;
	background-color: #4c3d92;
	border-radius: 50%;
	margin: 0 13px;
}
.addBtn > label {
	font-size: 40px;
	line-height: 38px;
	margin-left: 9px;
}
input[class="tCheck"]+ label {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	border-radius: 50%;
	text-align: center;
	line-height: 1.7;
}
input[class="tCheck"]+ label:before {
	content: "";
	display: inline-block;
}
input[class="tCheck"]:checked+label {
	background-color: #7764cb;
}
input[class="tCheck"]:checked+label:before {
	content: "\2714";
	color: #fff;
}
input[class="tCheck"] {
	display: none;
}
input[class^="calendar"] {
	cursor: pointer;
	height: 40px;
    background-image: url(/images/icon_calendar.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
button {
	border: none;
	cursor: pointer;
}
input::placeholder {
	color: #A4A4A4; 
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
	margin: 0;
	padding: 0;
}
pre { /* pre테크를 사용하는 경우 영역이 넘어가면 줄바꿈해줌. */
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */ 
	white-space: -pre-wrap; /* Opera */ 
	white-space: -o-pre-wrap; /* Opera */ 
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */ 
	word-wrap: break-word; /* IE 5.5+ */ 
}
.btnPrev {
	width: 110px;
}
.btnSave {
	width: calc(100% - 211px);
    text-align: center;
}