.ui-dialog {
	background-color: #fff;
	z-index: 2;
	top: -792px !important;
}
.custom-overlay {
	opacity: 0.5;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.ui-button {
	font-size: 0px !important;
	width: 21px !important;
	height: 21px !important;
	background-image: url('/images/popup_close.png');
	background-repeat: no-repeat;
	background-position: 95% 50%;
	z-index: 3;
	position: absolute;
	top: 49px;
	right: 60px;
}
.popContainer table {
	background: transparent;
}